body {
  background-color: hsl(30, 38%, 92%);
  height: 100%;
  margin: 0;
}

img {
  border-radius: 10px 0 0 10px;
  max-width: 200px;

  height: auto;
}
.flex-container {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;

  height: 100vh; /* Full viewport height */
  width: 100vw;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  padding: 4px 16px;
  margin: 0;
}
h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  color: hsl(212, 21%, 14%);
}
h6 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.p1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  /*font-size: 14px;
  font-weight: bold;*/
}
.p2 {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
.p3 {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-style: bold;
  font-weight: 700;
}
.p4 {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  border-radius: 4px;
  padding: 8px 0 2px 0;
  color: white;
  background-color: hsl(158, 36%, 37%);
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 14px;
  /*max-width: 500px;*/
  justify-content: center;
}
.attribution {
  justify-content: flex-end;
  font-size: 11px;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  border: 2px solid hsl(98, 19%, 50%);
  max-width: 10%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 375px) {
  /*.topnav {
  overflow: hidden;
  background-color: #333;
}*/

  /* Style the topnav links */

  img {
    border-radius: 10px 10px 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .attribution {
    background-color: hsla(30, 11%, 96%, 0.8);
  }
}
